# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [1]:
a = [1,3,5,6,7,9,10,11,13,15]
dummy_list = a
print(dummy_list)

[1, 3, 5, 6, 7, 9, 10, 11, 13, 15]

2) print dummy_list

In [2]:
print(dummy_list)

[1, 3, 5, 6, 7, 9, 10, 11, 13, 15]

3) Reverse dummy_list and print

In [3]:
def Reverse(dummy_list): 
	list = dummy_list[::-1] 
	return list 
	
dummy_list = [1,3,5,6,7,9,10,11,13,15] 
print(Reverse(dummy_list))

[15, 13, 11, 10, 9, 7, 6, 5, 3, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [0]:
#dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [4]:
dummy_list = [1,3,5,6,7,9,10,11,13,15]
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list = dummy_list + dummy_list_2
print(dummy_list)

[1, 3, 5, 6, 7, 9, 10, 11, 13, 15, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [5]:
dummy_list = [1,3,5,6,7,9,10,11,13,15]

dummy_dict = {}

for i in range(len(dummy_list)):
  dummy_dict[dummy_list[i]] = dummy_list.count(dummy_list[i])
  print(dummy_dict)

{1: 1}
{1: 1, 3: 1}
{1: 1, 3: 1, 5: 1}
{1: 1, 3: 1, 5: 1, 6: 1}
{1: 1, 3: 1, 5: 1, 6: 1, 7: 1}
{1: 1, 3: 1, 5: 1, 6: 1, 7: 1, 9: 1}
{1: 1, 3: 1, 5: 1, 6: 1, 7: 1, 9: 1, 10: 1}
{1: 1, 3: 1, 5: 1, 6: 1, 7: 1, 9: 1, 10: 1, 11: 1}
{1: 1, 3: 1, 5: 1, 6: 1, 7: 1, 9: 1, 10: 1, 11: 1, 13: 1}
{1: 1, 3: 1, 5: 1, 6: 1, 7: 1, 9: 1, 10: 1, 11: 1, 13: 1, 15: 1}

6) print dummy_dict

In [6]:
print(dummy_dict)

{1: 1, 3: 1, 5: 1, 6: 1, 7: 1, 9: 1, 10: 1, 11: 1, 13: 1, 15: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [7]:
dummy_list = [1,3,5,6,7,9,10,11,13,15]
dummy_list.sort()
print(dummy_list)

[1, 3, 5, 6, 7, 9, 10, 11, 13, 15]

In [8]:
dummy_list = [1,3,5,6,7,9,10,11,13,15]
dummy_list.sort(reverse=True)
print(dummy_list)

[15, 13, 11, 10, 9, 7, 6, 5, 3, 1]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [0]:
x = 200

# Let's play: try the same with something which is not in the list to get the ValueError

In [9]:
dummy_list = [1,3,5,6,7,9,10,11,13,15]
dummy_list.remove(20) # 20 is not in this list
print(dummy_list)

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [11]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
dummy_list.remove(12) #12 is not in this list
print(dummy_list)

ValueError: ignored

10) Let's clean everything clear the list and then print

In [12]:
dummy_list.clear()
print(dummy_list)

[]