# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
list = [1,2,3,'aa','ddd']
dummy_list = list

2) print dummy_list

In [9]:
print(dummy_list)

[1, 2, 3, 'aa', 'ddd']

3) Reverse dummy_list and print

In [10]:
dummy_list.reverse()
print(dummy_list)

['ddd', 'aa', 3, 2, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [11]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

dummy_list.extend(dummy_list_2)
print(dummy_list)

['ddd', 'aa', 3, 2, 1, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {}

for i in range(len(dummy_list)):
  dummy_dict[dummy_list[i]] = dummy_list.count(dummy_list[i])

6) print dummy_dict

In [15]:
print(dummy_dict)

{'ddd': 1, 'aa': 1, 3: 1, 2: 2, 1: 2, 200: 1, 16: 1, 4: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [22]:
dummy_list = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

dummy_list.sort()
print(dummy_list)

dummy_list.sort(reverse=True)
print(dummy_list)

[0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [24]:
x = 200

# Let's play: try the same with something which is not in the list to get the ValueError
dummy_list.remove(x)

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [28]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

len(dummy_list) # Prints"10"

pos = 12
dummy_list.remove(pos)

ValueError: ignored

10) Let's clean everything clear the list and then print

In [29]:
dummy_list.clear()
dummy_list

[]